body{
    background:  rgb(9, 11, 58) !important;
    margin-bottom: 200px;
    
}
.card{
    /* background-color: transparent ; */
    margin-top: 50px !important;
    
}

#image0,#image1,#image2,#image3,#image4{ 
    margin-top: 50px;
    transition: transform .8s; 
    z-index: 0;
}

#image0:hover,#image1:hover,#image2:hover,#image3:hover,#image4:hover{

  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5); 
  z-index: 1;
}
  


#gitt{
   
   height: 50px;
   width: 50px;
   font-size: 35px;
   color: white !important ;
  
}

#gitt { 
    margin-left: 15px;
   
    margin-top: 40px;
    margin-bottom: -20px;
    transition: transform .8s; 
    }
#gitt:hover{
    -ms-transform: scale(1.9);
  -webkit-transform: scale(1.9);
  transform: scale(1.9); 
}

#head1{
    text-align: center;
    /* font-size: 40px; */
    color: white;
    margin: 0px;
    margin-top: 5%;

}

h2{
    text-align: center;
    color: white;

}



