.flip {
    -webkit-perspective: 800;
    width: 600px;
    height: 500px;
    position: relative;
    margin: 50px auto;
}

.flip .card.flipped {
    -webkit-transform: rotateY(-180deg);
}

.flip .card {
   -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}

.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
}

.flip .card .front {
    position: absolute;
    z-index: 1;
    background-color: white;
  cursor: pointer;
}

.flip .card .back {
    -webkit-transform: rotateY(-180deg);
 
    color: black;
    cursor: pointer;
}
#startBtn{
    margin: 250px;
}
h3 {
    margin-top: 100px;
    color: white;
    font-size: 22px;
    font-family: 'Indie Flower', cursive;
}
h2{
    margin-top: 100px;
    color: white;
    font-size: 22px;
    font-family: 'Hachi Maru Pop', cursive;
}
