body {
    color: white;
    background-color: rgb(9, 11, 58);
    
}

header {
    background-image: url("./Assets/safs.jpg");
    background-size: cover;
    position: relative;
    height: 200px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

/* tspan{display: none !important;} */
.abc {

    background-color: white;
    color: black;
    font-size: 400%;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 40%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
  }
  /* section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  } */
  section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font : normal 300 64px/1 'Josefin Sans', sans-serif;
    text-align: center;
    white-space: nowrap;}
    .demo a {
        position: absolute;
        bottom: 20px;
        left: 50%;
        z-index: 2;
        display: inline-block;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: #fff;
        font : normal 400 20px/1 'Josefin Sans', sans-serif;
        letter-spacing: .1em;
        text-decoration: none;
        transition: opacity .3s;
      }
      .demo a:hover {
        opacity: .5;
      }
      
      
      
      #section01 a {
        padding-top: 60px;
      }
      #section01 a span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;
      }
      

      #section02 a {
        padding-top: 60px;
      }
      #section02 a span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 46px;
        height: 46px;
        margin-left: -23px;
        border: 1px solid #fff;
        border-radius: 100%;
        box-sizing: border-box;
      }
      #section02 a span::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        width: 16px;
        height: 16px;
        margin: -12px 0 0 -8px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;
      }      
      #section10 a {
        padding-top: 60px;
      }
      #section10 a span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 30px;
        height: 50px;
        margin-left: -15px;
        border: 2px solid #fff;
        border-radius: 50px;
        box-sizing: border-box;
      }
      #section10 a span::before {
        position: absolute;
        top: 10px;
        left: 50%;
        content: '';
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: #fff;
        border-radius: 100%;
        -webkit-animation: sdb10 2s infinite;
        animation: sdb10 2s infinite;
        box-sizing: border-box;
      }
      @-webkit-keyframes sdb10 {
        0% {
          -webkit-transform: translate(0, 0);
          opacity: 0;
        }
        40% {
          opacity: 1;
        }
        80% {
          -webkit-transform: translate(0, 20px);
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes sdb10 {
        0% {
          transform: translate(0, 0);
          opacity: 0;
        }
        40% {
          opacity: 1;
        }
        80% {
          transform: translate(0, 20px);
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
@media only screen and (max-width: 808px) {
.responsiveVideo{
    width: 500px; height:500px; padding-right: 135%;
}
}

@media only screen and (max-width: 768px) {
    .abc {
        font-size: 180%;
        /* width: 70%; */

    }

    header {
        background-image: url("./Assets/header.jpg");

    }
   
}

@media only screen and (max-width: 500px){
    .abc {
        font-size: 180%;
        width: 70%;
    
    }
   .responsiveVideo{
        width: 200px; height:200px; padding-right: 100%;
    }
}
/* .responsiveVideo{
    width: 200; height:200; margin: 10%;
} */
.test2 {
    justify-content: center;
    min-height: calc(100vh - 0.5rem);
    /* margin-bottom: 7.2rem; */
    /* height: 10px; */
}

.test3 {
  justify-content: center;
  min-height: calc(100vh - 20.5rem);
}
.test {
    justify-content: center;
    min-height: calc(100vh - 15.5rem);
    /* margin-bottom: 7.2rem; */
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgb(0, 0, 0) 100%); 
}
#negative{color: red;}
#positive{color: greenyellow;}
#zeroo{color: cyan;}
#barrier{color: black;}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@media only screen and (min-width: 1000px) {

    /* Medium and Large devices (laptops/desktops, 800px and up) */
    .navbar-nav {
        position: absolute;
        right: 4%;
    }
    .col-12{
       width: 50%; margin-left: 14%; margin-top: 15%;
    }

    .navbar-brand {
        margin-left: 1%;
    }
}

.navbar {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.Hero__arrow {
    position: absolute;
    bottom: 24px;
    right: 50%
}

/* .navbar{} */
#navbarNavDropdown {
    background-color: rgb(9, 11, 58);
    color: white;
}

.inline-photo {
  border: 1em solid #fff;
  border-bottom: 4em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  margin: 2em auto;
  opacity: 0;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  max-width: 600px;
  width: 90%;
  will-change: transform, opacity;
}

.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(-2deg);
}



.inline-photo2 {
  color: white;
  /* border-bottom: 4em solid #fff; */
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgb(13 110 253 / 25%);
  margin: 2em auto;
  opacity: 0;
  transform: translateY(4em) rotateZ(-1000deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  max-width: fit-content;
  /* width: 90%; */
  will-change: transform, opacity;
}

.inline-photo2.is-visible {
  opacity: 1;
  transform: rotateZ(0deg);
transition-delay: 0.7s;}

.inline-photo3 {
  color: white;
  /* border-bottom: 4em solid #fff; */
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgb(13 110 253 / 25%);
  margin: 2em auto;
  opacity: 0;
  transform: translateY(4em) rotateZ(-50deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  max-width: fit-content;
  /* width: 90%; */
  will-change: transform, opacity;
}
.inline-photo3.is-visible {
  opacity: 1;
  transform: rotateZ(-2deg);
transition-delay: 1.5s;}



.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33.33%;
}

.simple-marquee-container *{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
  font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.simple-marquee-container {
  width: 100%;
  background: rgba(75, 102, 133, 0.541);
  float: left;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  height: 45px;
  position: relative;
  cursor: pointer;
}

.simple-marquee-container .marquee-sibling {
  padding: 0;
  background: rgb(6, 2, 34);
  width: 20%;
  height: 45px;
  line-height: 42px;
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  float: left;
  left: 0;
  z-index: 2000;
}

.simple-marquee-container .marquee, .simple-marquee-container *[class^="marquee"] {
  display: inline-block;
  white-space: nowrap;
  position:absolute;
}

.simple-marquee-container .marquee{
margin-left: 25%;
}

.simple-marquee-container .marquee-content-items{
display: inline-block;
padding: 5px;
margin: 0;
height: 45px;
position: relative;
}

.simple-marquee-container .marquee-content-items li{
display: inline-block;
line-height: 35px;
color: #fff;
}

.simple-marquee-container .marquee-content-items li:after{
  content: "|";
  margin: 0 1em;
}